<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black-Scholes Calculator Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">Black-Scholes Calculator Demo Application</h1>
        <div class="section editor">
            <table>
                <caption>Inputs</caption>
                <tr>
                    <td>Call/Put</td>
                    <td><label for="call">CALL</label>
                    <input id="call" type="radio" name="call_put" value="CALL"/>
                    <label for="put">PUT</label>
                    <input id="put" type="radio" name="call_put" value="PUT"/></td>
                </tr>
                <tr>
                    <td><label for="strike_price">Strike Price</label></td>
                    <td><input id="strike_price" type="text" /></td>
                </tr>
                <tr>
                    <td><label for="option_maturity_years">Option Maturity(years)</label></td>
                    <td><input id="option_maturity_years" type="text" /></td>
                </tr>
                <tr>
                    <td><label for="current_price">Current Price </label></td>
                    <td><input id="current_price" type="text" /></td>
                </tr>
                <tr>
                    <td><label for="volatility_percent">Volatility(%)</label></td>
                    <td><input id="volatility_percent" type="text" /></td>
                </tr>
                <tr>
                    <td><label for="risk_free_rate_percent">Risk Free Rate(%)</label></td>
                    <td><input id="risk_free_rate_percent" type="text" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button id="calculate">Calculate</button></td>
                </tr>
            </table>
        </div>
        <br>
        <div class="results">
            <table>
                <caption>Results</caption>
                <tr>
                    <td width="50%">Option Price</td>
                    <td width="50%" id="optionprice"></td>
                </tr>
            </table>
        </div>
        <div class="error">
        </div>
        <!--TODO: Centre and resize chart-->
        <div style="width: 50%; margin: 0px auto">
            <canvas id="canvas"></canvas>
        </div>
    </div>
</body>
<!--This script tag must be at the end of the file, as the selectors within reference HTML
    elements that must be created first-->
<script src="static/js/home.js"></script>
</html>