<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black-Scholes Calculator Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<!--
    TODO: Add a radio button to select call/put
-->
<body>
    <div class="container">
        <h1 class="banner">Black-Scholes Calculator Demo Application</h1>
        <div class="section editor">
            <table>
                <caption>Inputs</td></caption>
                <tr>
                    <td><label for="strike_price">Strike Price</td>
                    <td><input id="strike_price" type="text" /></td>
                    </label>
                </tr>
                <tr>
                    <td><label for="option_maturity_years">Option Maturity(years)</td>
                    <td><input id="option_maturity_years" type="text" /></td>
                    </label>
                </tr>
                <tr>
                    <td><label for="current_price">Current Price</td>
                    <td><input id="current_price" type="text" /></td>
                </label>
                </tr>
                <tr>
                    <td><label for="volatility_percent">Volatility(%)</td>
                    <td><input id="volatility_percent" type="text" /></td>
                    </label>
                </tr>
                <tr>
                    <td><label for="risk_free_rate_percent">Risk Free Rate(%)</td>
                    <td><input id="risk_free_rate_percent" type="text" /></td>
                    </label>
                </tr>
                <tr>
                    <td colspan="2"><button id="calculateprice" onclick="calculate()">Calculate</button></td>
                </tr>
            </table>
        </div>
        <br>
        <div class="results">
            <table>
                <caption>Results</caption>
                <tr>
                    <td width=50%>Option Price</td>
                    <td width=50% id="optionprice"></td>
                </tr>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
    <!--
        JQuery Syntax: $(selector).action()
        $() is shorthand for jQuery()
        # denotes selector for an HTML id
        . denotes selector for an HTML class

        TODO: Add call/put selection to JSON
        TODO: Change url from call_calculator to calculator
    -->
    <script>
    function calculate() {
        let ajax_options = {
            type: 'POST',
            url: 'api/call_calculator',
            accepts: 'application/json',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                'strike_price': parseFloat($("#strike_price").val()), 
                'option_maturity_years': parseFloat($("#option_maturity_years").val()), 
                'current_price': parseFloat($("#current_price").val()), 
                'volatility_percent': parseFloat($("#volatility_percent").val()), 
                'risk_free_rate_percent': parseFloat($("#risk_free_rate_percent").val())
                })
        };
        $.ajax(ajax_options)
            .done(function(data) {
                $("#optionprice").text(data);
            })
            .fail(function(xhr, textStatus, errorThrown) {
                let error_msg = textStatus + ': ' + errorThrown + ' - ' + xhr.responseJSON.detail;
                $("#optionprice").text("");
                alert(error_msg.Message);
            });
    }
    </script>
</body>
</html>