<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black-Scholes Calculator Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">Black-Scholes Calculator Demo Application</h1>
        <div class="section editor">
            <table>
                <caption>Inputs</td></caption>
                <tr>
                    <td><label for="strike_price">Strike Price</td>
                    <td><input id="strike_price" type="text" /></td>
                    </label>
                </tr>
                <tr>
                    <td><label for="option_maturity_years">Option Maturity</td>
                    <td><input id="option_maturity_years" type="text" /></td>
                    </label>
                </tr>
                <tr>
                    <td><label for="current_price">Current Price</td>
                    <td><input id="current_price" type="text" /></td>
                </label>
                </tr>
                <tr>
                    <td><label for="volatility_percent">Volatility</td>
                    <td><input id="volatility_percent" type="text" /></td>
                    </label>
                </tr>
                <tr>
                    <td><label for="risk_free_rate_percent">Risk Free Rate</td>
                    <td><input id="risk_free_rate_percent" type="text" /></td>
                    </label>
                </tr>
                <tr>
                    <td colspan="2"><button id="calculateprice" onclick="calculate()">Calculate</button></td>
                </tr>
            </table>
        </div>
        <br>
        <div class="results">
            <table>
                <caption>Results</caption>
                <tr>
                    <td width=50%>Option Price</td>
                    <td width=50% id="optionprice"></td>
                </tr>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
    <!--
        JQuery Syntax: $(selector).action()
        # denotes selector for an id
    -->
    <script>
    function calculate() {
        let ajax_options = {
            type: 'POST',
            url: 'api/call_calculator',
            accepts: 'application/json',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                'strike_price': parseInt($("#strike_price").val()), 
                'option_maturity_years': parseInt($("#option_maturity_years").val()), 
                'current_price': parseInt($("#current_price").val()), 
                'volatility_percent': parseInt($("#volatility_percent").val()), 
                'risk_free_rate_percent': parseInt($("#risk_free_rate_percent").val())
                })
        };
        $.ajax(ajax_options).then(function(data) {
            $("#optionprice").text(data)
            });
    }
    </script>
</body>
<!--
    Commented JS file out while testing with local JS
    TODO: remove calculate() and uncomment script tag
    <script src="static/js/home.js"></script>
-->
</html>